@use '../../tool/media' as bp;

.p-product {
    padding: 14rem 10rem 24rem;
    background-color: #45556a;
    color: #fff;

    &__h {
        font-size: 6rem;
        font-weight: 500;
        line-height: 1;
    }

    &__h-sub {
        display: block;
        position: relative;
        margin-top: 1.7rem;
        font-size: 1.2rem;
        font-weight: 500;
        letter-spacing: 1px;

        &::before {
            display: block;
            content: "";
            position: absolute;
            top: calc(50% + 1px);
            left: -3rem;
            width: 2rem;
            height: 1px;
            background-color: #fff;
        }
    }

    &__overview {
        margin-top: 3.7rem;
        font-size: 2.4rem;
        font-weight: 500;
    }

    &__content {
        margin-top: 1.9rem;
        font-size: 1.6rem;
        font-weight: 100;
        line-height: 2;
    }

    &__list-container {
        margin-top: -15rem;
        padding: 0 10rem 14rem;
    }

    &__list {
        overflow: hidden;
    }

    &__item {
        display: inline-block;
        position: relative;
        width: 48%;
        overflow: hidden;
        cursor: pointer;

        &::before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 100%;
        }

        &:nth-child(2n) {
            margin-left: 3.29%;
        }

        &:nth-child(n + 3) {
            margin-top: 10rem;
        }
    }

    &__item-img {
        &::before {
            display: block;
            content: "";
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 65%;
        }

        img {
            object-fit: cover;
            object-position: center;
        }
    }

    &__item-title-wrap {
        display: flex;
        margin: 2rem 0 1.5rem;
        justify-content: space-between;
        align-items: center;
    }

    &__item-title {
        font-size: 1.6rem;
        font-weight: 700;
    }

    &__item-link-wrap {
        text-align: right;
    }

    &__item-link-view-more {
        position: relative;
        font-size: 1rem;
        font-weight: 500;
        color: #000 !important;
        padding-right: 8.1rem;
        line-height: 6rem;

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 6rem;
            height: 6rem;
            background-image: url(../img/icon/plus_circle.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__item-description {
        font-size: 1.3rem;
        font-weight: 100;
        line-height: 2;
    }

    @include bp.sp {
        & {
            padding: 7.2rem 2rem 13.01rem;
        }

        &__h {
            font-size: 4.2rem;
        }

        &__overview {
            margin-top: 3rem;
            font-size: 2.1rem;
        }

        &__content {
            margin-top: 1.8rem;
        }

        &__list-container {
            margin-top: -9.1rem;
            padding: 0 2rem 5.3rem;
        }

        &__item {
            width: 100%;

            &:nth-child(2n) {
                margin-top: 4rem;
                margin-left: 0;
            }

            &:nth-child(n + 3) {
                margin-top: 4rem;
            }
        }

        &__item-title-wrap {
            margin: 1rem 0;
        }

        &__item-link-view-more {
            width: 5.1rem;
            height: 5.1rem;
            padding: 0;

            span {
                display: none;
            }

            &::after {
                width: 5.1rem;
                height: 5.1rem;
            }
        }

        &__item-description {
            font-size: 1.2rem;
        }
    }
}